<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Auto<span>biog</span>raphy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AboutMe</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>JIEAN MARC P. ESTUDILLO <span>
      <ion-card-subtitle>BSIT 3-B</ion-card-subtitle>
      </span></ion-card-title>
      <img class="image" src="assets/jiean.jpg">
    </ion-card-header>
  
    <ion-card-content>
      HI! for now I'm still studying at gordon college for a bachelor's of science in information technology. As of now i am currently a 3rd year student.
      Being an IT student is not easy but i will do my best to finish my study. By the way you can call me Jie because my friends call me that. And i am 20 years old
    </ion-card-content>
   
    <ion-button color="warning" shape="round"  size="small">
      <ion-icon slot="end" name="help-circle-outline"></ion-icon>
            Learn more
    </ion-button>
  </ion-card>
</ion-content>
