@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.image{
    margin-top: 20px;
}
ion-title span{
    color: orange;
}
ion-card{
    position: relative;
    text-align: center;
}
ion-card-title{
    font-size: 1.8rem;
}
