<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ab<span>out</span> Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  
    <!-- LIKE CONTENT -->
  <ion-card>
<ion-card-header>
      <ion-card-title>
        <ion-item color="secondary">
        <ion-label style="font-size: 18px;">
          I Like  
        </ion-label>
        <ion-icon name="checkmark-circle"></ion-icon>    
        </ion-item>
    </ion-card-title>
</ion-card-header>
  
    <ion-card-content>

      <ion-item>
        <ion-label>
         ANIME
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          THE SCRIPT
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
         ONLINE GAMES
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          ERASERHEADS 
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
        WAR OR ACTION MOVIES
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- I DONT LIKE -->
  <ion-card>
    <ion-card-header>
          <ion-card-title>
            <ion-item color="danger" >
            <ion-label style="font-size: 18px;">
              I Don't Like  
            </ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-item>
        </ion-card-title>
    </ion-card-header>
      
        <ion-card-content>
          <ion-item>
            <ion-label>
              SNAKE 
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-label>
              HEIGHTS
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-label>
              GREEN TEA
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-label>
              SLOW CONNECTION
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-label>
              ROMANTIC OR DRAMA MOVIES
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <!-- MY FAVORITE FOOD -->
      <ion-card>
        <ion-card-header>
              <ion-card-title>
                <ion-item color="tertiary">
                <ion-label style="font-size: 18px;">
                  MY FAVORITE FOOD 
                </ion-label>
                <ion-icon name="heart"></ion-icon>
              </ion-item>
            </ion-card-title>
        </ion-card-header>
          
            <ion-card-content>
              <ion-item>
                <ion-label>
                  SISIG
                </ion-label>
              </ion-item>
        
              <ion-item>
                <ion-label>
                  GRAHAM CAKE
                </ion-label>
              </ion-item>
        
              <ion-item>
                <ion-label>
                  SIZZLING TOFU
                </ion-label>
              </ion-item>
        
              <ion-item>
                <ion-label>
                  SINIGANG NA BABOY
                </ion-label>
              </ion-item>
        
              <ion-item>
                <ion-label>
                  CHOCO MOCHO
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>

 <!-- MY FAVORITE SONG -->
 <ion-card>
  <ion-card-header>
        <ion-card-title>
          <ion-item color="primary">
          <ion-label style="font-size: 18px;">
            MY TOP 5 SONGS
          </ion-label>
          <ion-icon name="musical-notes"></ion-icon>
        </ion-item>
      </ion-card-title>
  </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label>
            PARE KO
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            BREAKEVEN 
          </ion-label>
        </ion-item>
        
        <ion-item>
          <ion-label>
            WITH A SMILE
          </ion-label>
        </ion-item>
  
        <ion-item>
          <ion-label>
            FOR THE FIRST TIME
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            THE MAN WHO CAN'T BE MOVE
          </ion-label>
        </ion-item>

      </ion-card-content>
    </ion-card>







</ion-content>
